<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">
                <i class="fa icon icon-roles"></i> Movimento de Stock
              </h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Stock</a></li>
                <li class="breadcrumb-item active">Listagem</li>
                <li class="breadcrumb-item active">Stock</li>
              </ol>
            </div>
          </div>
        </div>
      </div>


      <!--TABLE SECTION-->
      <div class="col-lg-12 col-12">
        <div class="modall modal-info fadee" data-backdrop="static">
          <div class="modal-dialog" style="max-width: 100%">
            <div
              class="modal-content"
              style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5)"
            >
              <div class="modal-header">
                <h4 class="modal-title">TABELA DOS STOCK</h4>


              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="modal-body">
                  <table class="table table-hover table-bordered text-center" *ngIf="this.movimentoStocks()">
                    <tbody>
                      <tr class="bg-secondary" >
                        <th>#</th>
                        <th>Peça </th>
                        <th>Fornecedor</th>
                        <th>Total</th>
                        <th>Acção</th>
                      </tr>
                      @for (stock of this.movimentoStocks().data; track stock.part; let index = $index) {

                      <tr >
                          <td>{{index + 1}}</td>
                          <td class="bg-style">{{ stock.part }}</td>
                          <td>{{ stock.supplier }}</td>
                           <td>{{stock.total_stock}}</td>

                          <td>
                            <div class="btn-group">
                              <button
                                class="btn btn-secondary btn-flat btn-sm btn-block"
                                data-toggle="dropdown"
                                type="button"
                              >
                                Opções</button
                              ><button
                                aria-expanded="false"
                                class="btn btn-secondary btn-flat dropdown-toggle"
                                data-toggle="dropdown"
                                type="button"
                              >
                                <span class="caret"></span
                                ><span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div
                                class="dropdown-menu drop-style"
                                role="menu"
                                x-placement="bottom-start"
                              >

                                >




                              </div>
                            </div>
                          </td>


                    </tr>
                  } @empty {
                       <p> Nenhum tipo de peças encontrado</p>
                  }
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row" style="width: 100%">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">Mostrando de</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pull-right">
                      <!--  <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                        nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
