<nav
  class="main-header navbar navbar-expand border-bottom navbar-dark bg-white"
>
  <ul class="navbar-nav d-flex" style="align-items: center">
    <li class="nav-item">
      <a class="nav-link text-dark" data-widget="pushmenu" href="#"
        ><i class="fa fa-bars"></i
      ></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown show">
      <a
        aria-expanded="true"
        class="nav-link text-secondary left-set"
        data-toggle="dropdown"
        href="#"
        ><div class="round">
          <i class="fa fa-user" style="font-size: 33px"></i></div
      ></a>
      <div
        class="dropdown-menu dropdown-menu-lg dropdown-menu-right"
        style="left: inherit; right: 0px"
      >
        <a class="dropdown-item text-secondary" href="javascript:void(0)"
          ><div class="media">
            <div class="media-body">
              <a class="text-secondary" href="javascript:void(0)"
                ><h3 class="dropdown-item-title">
                  Editar Perfil
                  <span class="float-right text-sm"
                    ><i class="fa fa-cog"></i
                  ></span></h3
              ></a>
            </div></div
        ></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-secondary" href="javascript:void(0)"
          ><div class="media">
            <div class="media-body">
              <a class="text-secondary" href="javascript:void(0)"
                ><h3 class="dropdown-item-title">
                  Alterar Senha
                  <span class="float-right text-sm"
                    ><i class="fa fa-lock"></i
                  ></span></h3
              ></a>
            </div></div
        ></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-secondary" href="javascript:void(0)"
          ><div class="media">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Sair
                <span class="float-right text-sm"
                  ><i class="fa fa-sign-out"></i
                ></span>
              </h3>
            </div></div
        ></a>
      </div>
    </li>
  </ul>
</nav>
