<div id="DetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 990px;">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fa fa-cog "></i>Detalhes da Peça - {{this.partValues().nome}}
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form [formGroup]="this.partForm">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <input id="fileInput" style="display: none" type="file" /><label
                            for="fileInput"
                            style="cursor: pointer"
                            >
                            @if (this.url != undefined) {
                                <img
                                alt="Photo"
                                class="profile-user-img img-fluid img-circle"
                                style="border-radius: 4%; margin: 0 20px; width: 188px"
                                [src]="this.url"
                            />
                            }
                     </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome"><i class="fa fa-edit"></i> Nome</label
                          ><input
                            id="nome"
                            placeholder="nome da peça"
                            type="text"
                            formControlName="nome"
                            readonly
                            [ngClass]="{'is-invalid':this.control['nome'].invalid && isSubmitted, 'is-valid': !this.control['nome'].invalid && isSubmitted}"
                            class="form-control"
                          />
                          <div *ngIf="this.control['nome'].invalid && isSubmitted">

                              <div >
                                <span class="text-danger">* Nome é obrigatorio</span>
                              </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="reference"><i class="fa fa-envelope"></i> Referencia</label>
                          <div class="input-group">
                            <input
                              id="reference"
                              readonly
                              placeholder="referencia da peça"
                              type="reference"
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formControlName="reference"
                              [ngClass]="{'is-invalid':this.control['reference'].invalid && isSubmitted, 'is-valid': !this.control['reference'].invalid && isSubmitted}"
                            />

                          </div>
                          <div *ngIf="this.control['reference'].invalid && isSubmitted">

                            <div >
                              <span class="text-danger">* Referencia  é obrigatorio</span>
                            </div>

                        </div>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="phone"><i class="fa fa-phone"></i>Preço </label>
                          <div class="input-group">
                            <input
                              id="preco"
                              [ngClass]="{'is-invalid':this.control['price'].invalid && isSubmitted, 'is-valid': !this.control['price'].invalid && isSubmitted}"
                              readonly
                              placeholder="preco da preça"
                              type="text"
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formControlName="price"
                            />
                          </div>
                          <div *ngIf="this.control['price'].invalid && isSubmitted">

                            <div >
                              <span class="text-danger">* O Ano  é obrigatorio</span>
                            </div>

                        </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="phone"><i class="fa fa-phone"></i>Descrição </label>
                          <div class="input-group">
                            <input
                              id="phone"
                              [ngClass]="{'is-invalid':this.control['description'].invalid && isSubmitted, 'is-valid': !this.control['description'].invalid && isSubmitted}"
                              readonly
                              placeholder="descrição da peça"
                              type="text"
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formControlName="description"
                            />
                          </div>
                          <div *ngIf="this.control['description'].invalid && isSubmitted">

                            <div >
                              <span class="text-danger">* O Descrição  é obrigatorio</span>
                            </div>

                        </div>
                        </div>
                      </div>






                    </div>
              </form>

          </div>

        </form>
      </div>
    </div>
    <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
  </div>
