<div id="createOrEditRoleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 990px;">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fa fa-plus"></i> Registar Perfil
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form [formGroup]="this.roleFormGroup">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Name"><i class="fa fa-edit"></i> Nome</label
                          ><input
                            id="name"
                            placeholder="nome do perfil"
                            type="text"
                            formControlName="name"
                            [ngClass]="{'is-invalid':this.control['name'].invalid && isSubmitted, 'is-valid': !this.control['name'].invalid && isSubmitted}"
                            class="form-control"
                          />
                          <div *ngIf="this.control['name'].invalid && isSubmitted">

                              <div >
                                <span class="text-danger">* Nome é obrigatorio</span>
                              </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="description"><i class="fa fa-envelope"></i> description</label>
                          <div class="input-group">
                            <input
                              id="description"
                              placeholder="john.doe@cobraqui.com"
                              type="description"
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formControlName="description"
                              [ngClass]="{'is-invalid':this.control['description'].invalid && isSubmitted, 'is-valid': !this.control['description'].invalid && isSubmitted}"
                            />

                          </div>
                          <div *ngIf="this.control['description'].invalid && isSubmitted">

                            <div >
                              <span class="text-danger">* Descrição  é obrigatorio</span>
                            </div>

                        </div>
                        </div>
                      </div>




                    </div>
              </form>

          </div>
          <div class="modal-footer">
            <button
              class="btn btn-danger btn-sm btn-flat text-white"
              type="button"
            >
              <i class="fa fa-close"></i> Fechar</button
            ><button class="btn btn-secondary btn-sm btn-flat mr-1" type="button">
              <i class="fa fa-check"></i> Validar</button
            >
            <button (click)="this.createRole()" class="btn btn-success btn-sm btn-flat mr-1" type="button">
              <i class="fa fa-save"></i> Registar
            </button>
          </div>
        </form>
      </div>
    </div>
    <!--bindings={
      "ng-reflect-ng-if": "false"
    }-->
  </div>
