
<div  style="margin-top: 100px !important; background: inherit !important;"></div>
<footer class="main-footer"  style=" margin-top: 100px !important;">
  <div class="main-header" style="margin-left: 17%">
    <strong>Copyright ©
      <a href="https://ideiasdinamicas.com/" target="__blink">Akira.com</a>.</strong>
    Todos os direitos reservados.
    <div class="float-right d-none d-sm-inline-block">
      <b><a href="http://unig-erp.com/" target="__blink">Akira.com</a> - 1.0,
        Versão</b>
      1.0.0 (29/06/2024)
    </div>
  </div>
</footer>