<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            <i class="fa icon icon-users"></i> Logs
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Logs</a></li>
            <li class="breadcrumb-item active">Logs</li>
            <li class="breadcrumb-item active">Logs</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- section filtros-->

  <section class="content my-mb-100">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <a href="javascricpt:void(0)" style="color: #333">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"
              ><i class="fa fa-gear"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text">Logs</span>
              <span class="info-box-number">
                10
                <small>%</small>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <a href="javascricpt:void(0)" style="color: #333">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"
              ><i class="fa fa-book"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text">Roles</span>
              <span class="info-box-number">41,410</span>
            </div>
          </div>
        </a>
      </div>

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <a href="javascricpt:void(0)" style="color: #333">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"
              ><i class="fa fa-lock"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Permissions</span>
              <span class="info-box-number">760</span>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <a href="javascricpt:void(0)" style="color: #333">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"
              ><i class="fa fa-users text-white"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Utilizadores</span>
              <span class="info-box-number"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="modall modal-info fadee" data-backdrop="static">
          <div class="modal-dialog" style="max-width: 100%; margin-bottom: 0">
            <div
              class="modal-content"
              style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5)"
            >
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Filtro de Dados</h4>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-1 col-xs-3">
                    <div class="form-group">
                      <select name="perPage" class="form-control">
                        <option value="1">Entrada</option>
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                      <input
                        type="text"
                        name="search"
                        placeholder="Pesquisar..."
                        class="form-control"
                      />
                      <i
                        class="fa fa-search"
                        style="
                          float: right;
                          margin: -30px 10px 0 0px;
                          font-size: 22px;
                          color: #777;
                        "
                      ></i>
                    </div>
                  </div>

                  <div class="col-md-2 col-xs-3">
                    <div class="form-group">
                      <select name="plataforma" class="form-control">
                        <option>Access Plataforma</option>
                        <option [value]="true">Mobile</option>
                        <option [value]="false">Web</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2 col-xs-3">
                    <div class="form-group">
                      <select name="plataforma" class="form-control">
                        <option>Perfil</option>
                        <option></option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-1 col-xs-3">
                    <div class="form-group">
                      <select name="orderBy" class="form-control">
                        <option>Ordenar</option>
                        <option value="nome">Nome</option>
                        <option value="created_at">Data</option>
                        <option value="nome">Nome</option>
                        <option value="username">Username</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="btn-group">
                          <div class="btn-group">
                            <button
                              type="button"
                              class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                              data-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="fa fa-download"></i> Exportação
                            </button>
                            <div
                              class="dropdown-menu"
                              x-placement="bottom-start"
                              style="left: 40px"
                            >
                              <a class="dropdown-item" href="javascript:void(0)"
                                ><i class="fa fa-file-pdf-o"></i> PDF</a
                              >
                              <a class="dropdown-item" href="javascript:void(0)"
                                ><i class="fa fa-file-excel-o"></i> Excel</a
                              >
                            </div>
                          </div>

                          <button type="button" class="btn btn-info btn-flat">
                            <i class="fa fa-print"></i> Imprimir
                          </button>

                          <button
                            type="button"
                            class="btn btn-warning btn-flat"
                          >
                            <i class="fa fa-eraser"></i> Limpar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="col-lg-12 col-12">
    <div class="modall modal-info fadee" data-backdrop="static">
      <div class="modal-dialog" style="max-width: 100%">
        <div
          class="modal-content"
          style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5)"
        >
          <div class="modal-header">
            <h4 class="modal-title">TABELA DOS LOGS</h4>

            <div class="card-tools">
              <div class="btn-group">
                <button
                  class="btn btn-secondary dropdown-toggle dropdown-icon btn-flat"
                  data-toggle="dropdown"
                  type="button"
                >
                  <i class="fa fa-download"></i>
                  Exportação
                </button>
                <div
                  class="dropdown-menu"
                  style="left: 40px"
                  x-placement="bottom-start"
                >
                  <a class="dropdown-item" href="javascript:void(0)"
                    ><i class="fa fa-file-excel-o"></i>
                    Excel
                  </a>
                </div>
              </div>
              <button class="btn btn-secondary btn-flat" type="button">
                <i class="fa fa-refresh"></i>
                Recarregar
              </button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-body">
              <table class="table table-hover table-bordered text-center">
                <tbody>
                  <tr class="bg-secondary">
                    <th>#</th>
                    <th>Nome de Usuário</th>
                    <th>Nome da aplicacao</th>
                    <th>Data de abertura</th>
                    <th>Data de fecho</th>
                    <th>Tempo gasto</th>
                    <th>Ip</th>
                    <th>Mac Address</th>
                    <th>Acção</th>
                  </tr>
                  @for (log of this.logs().data; track log.id; let index
                  = $index) {

                  <tr>
                    <td>{{ index + 1 }}</td>
                    <td class="bg-style">{{ log.user }}</td>
                    <td>{{ log.app_nome }}</td>
                    <td>{{ log.started ? log.started : "sem data" }}</td>
                    <td>{{ log.ended ? log.ended : "sem data"  }}</td>
                    <td>
                      {{log.stay_open_during ? log.stay_open_during : "sem duraçao"}}
                    </td>
                
                    <td>{{ log.ip ? log.ip : "Sem IP"}}</td>
                    <td>{{ log.mac_adress ? log.mac_adress : "Sem IP"}}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-secondary btn-flat btn-sm btn-block"
                          data-toggle="dropdown"
                          type="button"
                        >
                          Opções</button
                        ><button
                          aria-expanded="false"
                          class="btn btn-secondary btn-flat dropdown-toggle"
                          data-toggle="dropdown"
                          type="button"
                        >
                          <span class="caret"></span
                          ><span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div
                          class="dropdown-menu drop-style"
                          role="menu"
                          x-placement="bottom-start"
                        >
                          <a
                            class="dropdown-item btn-sm"
                            href="javascript:void(0)"
                            ><i class="fa fa-edit"></i> Editar </a
                          ><!--bindings={
                    "ng-reflect-ng-if": "false"
                  }--><!--bindings={
                    "ng-reflect-ng-if": "true"
                  }--><a class="dropdown-item btn-sm" href="javascript:void(0)"
                            ><i class="fa fa-toggle-off"></i> Inactivar </a
                          ><!--bindings={
                    "ng-reflect-ng-if": "true"
                  }--><a class="dropdown-item btn-sm" href="javascript:void(0)"
                            ><i class="fa fa-unlock"></i>
                            Redefinir Senha
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  } @empty {
                  <p>No products added yet</p>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" style="width: 100%">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">Mostrando de</div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="pull-right">
                  <!--  <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                      nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLE SECTION-->
</div>
