<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            <i class="fa icon icon-users"></i> Logs
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Logs</a></li>
            <li class="breadcrumb-item active">Logs</li>
            <li class="breadcrumb-item active">Logs</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- section filtros-->

  <app-total-desboard [totalLogs]="this.dasboard().data"></app-total-desboard>

  <div class="col-lg-12 col-12">
    <div class="modall modal-info fadee" data-backdrop="static">
      <div class="modal-dialog" style="max-width: 100%">
        <div
          class="modal-content"
          style="box-shadow: 0 0 0rem rgba(0, 0, 0, 0.5)"
        >
          <div class="modal-header">
            <h4 class="modal-title">TABELA DOS LOGS</h4>

            <div class="card-tools">
              <div class="btn-group">
                <button
                  class="btn btn-secondary dropdown-toggle dropdown-icon btn-flat"
                  data-toggle="dropdown"
                  type="button"
                >
                  <i class="fa fa-download"></i>
                  Exportação
                </button>
                <div
                  class="dropdown-menu"
                  style="left: 40px"
                  x-placement="bottom-start"
                >
                  <a class="dropdown-item" href="javascript:void(0)"
                    ><i class="fa fa-file-excel-o"></i>
                    Excel
                  </a>
                </div>
              </div>
              <button class="btn btn-secondary btn-flat" (click)="this.realoadLogs()" type="button">
                <i class="fa fa-refresh"></i>
                Recarregar
              </button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-body">
              <table class="table table-hover table-bordered text-center">
                <tbody>
                  <tr class="bg-secondary">
                    <th>#</th>
                    <th>Nome de Usuário</th>
                    <th>Nome da aplicacao</th>
                    <th>Data de abertura</th>
                    <th>Data de fecho</th>
                    <th>Tempo gasto</th>
                    <th>Ip</th>
                    <th>Mac Address</th>
                    <th>Acção</th>
                  </tr>
                  @for (log of this.logs().data; track log.id; let index
                  = $index) {

                  <tr>
                    <td>{{ index + 1 }}</td>
                    <td class="bg-style">{{ log.user }}</td>
                    <td>{{ log.app_nome }}</td>
                    <td>{{ log.started ? log.started : "sem data" }}</td>
                    <td>{{ log.ended ? log.ended : "sem data"  }}</td>
                    <td>
                      {{log.stay_open_during ? log.stay_open_during : "sem duraçao"}}
                    </td>
                
                    <td>{{ log.ip ? log.ip : "Sem IP"}}</td>
                    <td>{{ log.mac_adress ? log.mac_adress : "Sem IP"}}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-secondary btn-flat btn-sm btn-block"
                          data-toggle="dropdown"
                          type="button"
                        >
                          Opções</button
                        ><button
                          aria-expanded="false"
                          class="btn btn-secondary btn-flat dropdown-toggle"
                          data-toggle="dropdown"
                          type="button"
                        >
                          <span class="caret"></span
                          ><span class="sr-only">Toggle Dropdown</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  } @empty {
                     <p style="text-align: center; margin-left: 50%;">Sem Logs Para mostrar</p>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" style="width: 100%">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">Mostrando de</div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="pull-right">
                  <!--  <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                      nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLE SECTION-->
</div>
