<aside
  class="main-sidebar elevation-4 sidebar-dark-warning"
  style="min-height: 768px"
>
  <!-- Brand Logo -->
  <a routerLink="/dashboard" class="brand-link bg-white">
<!--     <img
    src="assets/dist/img/cobra-aui.jpeg" 
      alt="INVESTPR"
      class="brand-image img-circles elevation-3s"
      style="margin: -13px 0 0 -8px; max-height: 54px; width: 103px"
    /> -->
  
    <span
      class="brand-textt font-weight-lightt"
      style="margin-left: 12px; font-weight: 600"
      >Productividade App</span
    >
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/avatar.png"
          class="img-circle elevation-0"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a
          href="javascript:void(0)"
       
          ><span>User Test</span></a
        >
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a routerLink="/logs" routerLinkActive="active" class="nav-link"
            ><i class="nav-icon fa fa-home"></i>
            <p>Logs Aplicação</p>
          </a>
        </li>

 

      
      </ul>
    </nav>
  </div>
</aside>
