.nav-treeview {
    display: none;
  }
  
  .nav-item.menu-open > .nav-treeview {
    display: block;
  }

  .sidebar-dark-warning .nav-sidebar > .nav-item > .nav-link.active {
    color: #fff;
    background-color: #4c81f0 !important;
}
.sidebar-dark-warning .nav-treeview > .nav-item > .nav-link.active{
  background-color: #4c81f0 !important;
}